.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-black {
  background-color: #080808;
}

.btn-red {
  background-color: #CB2027;
}

.btn-green {
  background-color: #95D03A;
}

ul {
  list-style: none;

}

li {
  border: 1px solid rgba(0, 0, 0, .125);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-wrapper {
  width: 70%;
}

p {
  margin-left: 20px;
}